@import "./variable";

/*--Home Banner--*/
.banner .item{
    color: #FFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
}
/*--text overlay--*/
.overlay {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    
    .overlay .overlay-layer_bottom {
        display: block;
    }
    .overlay-layer_top {
        height: 100%;
        width: 100%;
        background: rgba(black, 0.5);;
        color: #fff;
        opacity: 1;
        position: absolute;
        bottom: 0;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .social-media1 ul {
        list-style-type: none;
        position: absolute;
        top: 35%;
        left: -2%;
        li {
            display: block;
            padding: 5px;
        }
    }
    a{
        &:hover{
            color: $primarycolor;
        }
    }
}
/*--owl carousel prev and next bottons*/
.owl-carousel .owl-nav button.owl-prev{
    height: 40px;
    width: 40px;
  	color: #e5e8e8;
    font-size: 17px;
    position: absolute;
    top: 200px;
    right: 2%;
    &::after{
        background: $primarycolor;
        content: '';
        display: block;
        height: 2px;
        margin-top: 2px;
        position: absolute;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }
    &:hover::after{
        width: 100%; 
        left: 0;
        transition: width .3s;
    }
}
.owl-prev span {
    top: 0%;
    right: 15px;
    position: absolute;
}
.owl-carousel .owl-nav button.owl-next{
    height: 40px;
    width: 40px;
  	color: #e5e8e8;
    font-size:17px;
    position: absolute;
    top: 235px;
    right: 2%;

    &::after{
        background: $primarycolor;
        content: '';
        display: block;
        height: 2px;
        margin-top: 2px;
        position: absolute;
        transition: width .2s ease;
        -webkit-transition: width .2s ease;
    }
    &:hover::after{
        width: 100%; 
        left: 0;
        transition: width .3s;
      }
}
.owl-next span {
    position: absolute;
    top: 0%;
    left: 15px;
}
.owl-carousel button.owl-dot{
    display: none;
}

.card {
    background: $primarycolor;
    border: 1px solid transparent;
    display: inline-block;
    max-height: 420px;
    position: absolute;
    left: 26%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    .card-body {
        padding: 20px;
    }
    .card-title{
        font-weight: 800;
        letter-spacing: 3.1px;
        margin-bottom: 12%;
    }
    small {
        color: black;
    }
    p.card-text {
        font-size: 14px;
    }
    progress {
        margin: 6px 0px;
    }
    .donate_button {
        button.btn.card_button {
            border: 1px solid white;
            margin-top: 12px;
        }
    }
}

