@import "./variable";

@mixin background($imgpath,$position:0 0, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

.our-event{
    background: #a9a9a921;
    padding: 30px 0px 30px 0px;

    .heading {
        margin: 15px 0px 40px 0px;
    }
    small {
        color: darkgrey;
    }
    .horizontal-card {
        background: white;
        box-shadow: 0 4px 23px 0 #00000040;
        margin: 30px 0px 30px 0px;
    }
    .horizontal-card-content {
        margin: 40px 0px 0px 40px;
    }
    .horizontal-card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    p {
        color: darkgray;
    }
    i.fas {
        color: $primarycolor;
    }
    span.underline {
        color: black;
    }
    span {
        color: darkgray;
    }
    span.location {
        line-height: 3;
    }
    .oval1.float-right {
        box-shadow: 0 4px 23px 0 #6d6a6a9e;
        bottom: 30px;
        right: 6%;
    }
    i.fas.fa-plus {
        color: white;
        left: 17px;
        bottom: 16px;
    }
}

.counter_up{
    .content{
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        z-index: 2;
        .row.box {
            width: 100%;
        }
        .box1{
            @include background('../images/banner3.jpeg');
            box-shadow: inset 0 0 0 2000px #171612ad;
        }
        .box2{
            @include background('../images/banner1.jpeg');
            box-shadow: inset 0 0 0 2000px #f1b33cba;
        }
        .box3{
            @include background('../images/banner.jpeg');
            box-shadow: inset 0 0 0 2000px #171612ad;
        }
        .box4{
            @include background('../images/banner3.jpeg');
            box-shadow: inset 0 0 0 2000px #f1b33cba;
        }
        .box1,.box2,.box3,.box4{
            align-items: center;
            background-size: cover;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 40px;
            position: relative;

            .icon{
                font-size: 42px;
            }
            .counter{
                font-size: 36px;
                font-weight: 600;
            }
            .text{
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}