@import "./variable";

.footer{
    background-color: #00000094;
    color: darkgray;
    margin-top: 50px;
    
    .heading {
        margin-bottom: 30px !important;
    }
    h6 {
    color: white;
    }
    .col-xl-4.col-lg-4.col-md-4.col-sm-12.footer_first_column {
        margin: 30px 0px;
    }
    .col-xl-4.col-lg-4.col-md-4.col-sm-12.footer_column {
        margin: 60px 0px;
    }
    .footer_link_second {
        margin-top: 30px;
        
        i.fas.fa-arrow-right {
            color: #ffffff8c;
            font-size: 12px;
            padding: 6px;
        }
        a {
            color: #ffffff9c;
            font-size: 15px;
            font-weight: 400;
            padding: 0;
        }
        ul {
            display: inline-grid;
            padding: 0px;
        }
        li {
            margin: 0px 20px 10px 0px;
        }
        li a {
            &:hover {
                color: $primarycolor;
            }
        }
    }
    .footer_link {
        ul {
            display: inline-grid;
            padding: 0px;
        }
        li {
            margin-bottom: 8px;
        }
        i.fas {
            color: $primarycolor;
            margin-right: 15px;
        }
        &:hover li a {
            color: $primarycolor;
        }
    }
    .footer_wrapper {
        margin-top: 30px;

        input#email {
            height: 36px;
            width: 100%;
            border: 1px solid transparent;
            margin-bottom: 9px;
           
            &::placeholder {
                opacity: 0.6;
                padding: 8px;
            }
        }
       
        i.fas.fa-arrow-right {
            color: $primarycolor;
            position: absolute;
            right: 9%;
            top: 21%;
            padding: 0px;
        }
        small {
            color: darkgray;
        }
        .footer-social {
            margin-top: 20px;
            padding: 17px;
            border-top: inset;

            .row.first-row {
                margin-bottom: 16px;
            }
            .oval2{
                height: 40px;
                width: 40px;
                background-color: #adaba70d;
                border: 1px solid;
                border-radius: 50%;
                position: relative;
    
                &:hover{
                    color: $primarycolor;
                }
                i.fab {
                    position: absolute;
                    top: 27%;
                    left: 27%;
                    font-size: 17px;
                }
            }
            span.first {
                margin-right: 8px;
                padding: 6px;
            }
            span.second {
                padding: 6px;
            }
            .youtube {
                display: flex;
                padding-left: 15px;
            }
        }
    }
  
    .footer_copyright{
        background-color: $primarycolor;
        padding: 15px;
        
        .copyright {
            color: white;
            font-size: 14px; 
            text-align: center;
        }
    }
   
}



