@import "./variable";

.login-menu{
    background-color: #0c1d21d4;

    .login-menu-wrap.clearfix {
        font-size: 11px;
        padding: 7px;
    }
    .login-ryt-wrap {
        color: darkgray;
        float: right;
    }
    .login-section {
        display: inline-block;
    }
    select#language {
       background: transparent;
       border: none;
       color: #a9a4a4;
    }
    .social-media {
       display: inline-block;
       padding: 0px 20px;
    }
    i.fas {
        color: $primarycolor;
    }
    path {
       color: $primarycolor;
    }
    .social-media span {
     padding: 0 6px;
    }
}
/*--navbar--*/
.navbar{
    padding: 0px!important;
    width: 100%;

    ul.navbar-nav.ml-auto {
        margin-right: 30px;
    }
    .bg-light {
        background-color: #f3f0f3;
        height: 55px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 11px;
        color: rgba(0, 0, 0, 84%);
        font-weight: 700;
    }
    div#navbarNav {
        a{
            &:hover {
                color: $primarycolor;
            }
        }
        a.nav-link {
            &:hover {
                color: $primarycolor;
                text-decoration: underline;
            }
        }
    }
    i.fa.fa-search {
        color: $primarycolor;
    }
    li.nav-item {
        padding: 11px;
    }
    .donate_button {
        padding: 3px 20px 3px 0px;
    }
}







   