{% extends "layout.njk" %}
{% block content %}
<div id="event-page">
    {% include "partials/header.html" %}
    <div class="jumbotron">
        <div class="container">
            <h1>EVENT GRID</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">HOME</a></li>
                    <li class="breadcrumb-item active" aria-current="page">EVENT LIST</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card-items-wrapper">
        <div class="container">
            <div class="row">
                {% for data in eventpage %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-5">
                    <div class="c-display">
                        <div class="card-images">
                            <img src="{{ data.images }}" />
                        </div>
                        <div class="card-content-wrapper">
                            <h2>{{data.title}}</h2>
                            <p>{{data.description}}</p>
                            <span><i class="fas fa-clock"></i> {{data.time}} </br></span>
                            <span class="location"><i class="fas fa-map-marker-alt"></i> {{data.location}}</br></span>
                            <span><i class="fas fa-calendar-alt"></i> {{data.date}}</br></span>
                            <div class="oval1">
                                <i class="{{data.logo}}"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination event">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li><a href="#">Next &nbsp;<i class="fas fa-angle-right"></i></a></li>
            </ul>
        </nav>
    </div>

    {% include "partials/footer.html" %}
</div>
{% endblock %}