{% extends "layout.njk" %}
  {% block content %}
    {% include "partials/header.html" %}
        <div class="banner">
            <div id="banner-slider" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="overlay">
                        <img src="assets/images/banner.jpeg" alt="images">
                        <div class="overlay-layer_top">
                            <div class="card" style="width: 16rem;">
                                <div class="card-body">
                                    <h5 class="card-title">SPONSOR A CHILD IN THE US OR ABORAD</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <small>DONATION GOAL</small></br>
                                    <span>$50000</span></br>
                                    <progress value="0" max="100"></progress></br>
                                    <small>RAISED: </small><span>$4000</span>
                                    <div class="donate_button">
                                        <button class="btn card_button" type="submit">DONATION <span class="oval"><i class="fas fa-arrow-right"></i></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="social-media1">
                                <ul>
                                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay">
                        <img src="assets/images/banner1.jpeg" alt="student images">
                        <div class="overlay-layer_top">
                            <div class="banner-title-wrap">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay">
                        <img src="assets/images/banner2.jpeg" alt="student images">
                        <div class="overlay-layer_top">
                            <div class="banner-title-wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about_us">
            <div class="container">
               <div class="heading">
                  <h4><span class="underline">ABOUT US</span></h4>
                   <small><center>if you want to score a goal you have to hit the target</center></small>
               </div>
                <div class="row">
                {% set val = 12/(about|length) %}
                {% for data in about %}
                    <div class="col-xl-{{val}} col-lg-{{val}} col-md-{{val}} col-sm-12 mb-20">
                        <div class="about_description">
                            <div class="oval1">
                                <i class="{{data.logo}}"></i>
                            </div>
                            <h6 class="about_title">{{data.title}}</h6>
                        </div>
                        <div class="ad">
                            <small>{{data.description}}</small>
                        </div>
                    </div>
                    
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="who_we_are">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
                        <div class="who_we_are_image">
                            <img src="assets/images/education.png">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="who_we_are_wrapper">
                            <div class="heading">
                                <h5 class="underline">WHO WE ARE</h5>
                            </div>
                            <div class="content">
                                <p>Donations to causes that benefit the unfortunate indirectly, such as donations to fund cancer research, are also charity.
                                </p>
                                <p>
                                    With regards to religious aspects, the recipient of charity may offer to pray for the benefactor. In medieval Europe, it was customary to feast the poor at the funeral in return for their prayers for the deceased.
                                </p>
                               
                                <div class="donate_button">
                                    <button class="btn"><a href="#">READ MORE</a><span class="oval"><i class="fas fa-arrow-right"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        <div class="our_cause">
            <div class="container">
                <div class="heading">
                    <h4 ><span class="underline">OUR CAUSES</span></h4>
                    <small><center>if you want to score a goal you have to hit the target</center></small>
                </div>
                <div class="row">
                    {% set val = 12/(causes|length) %}
                    {% for data in causes %}
                    <div class="col-xl-{{val}} col-lg-{{val}} col-md-{{val}} col-sm-12 mb-4">
                        <div class="c-display">
                            <div class="cause_description">
                                <div class="content">
                                    <div class="card-images">
                                        <img src="{{ data.img }}" />
                                    </div>
                                    <div class="content-overlay">
                                        <div class="content-details">
                                            <div class="donate_button">
                                                <button class="btn" type="submit">DONATE <span class="oval"><i class="fas fa-arrow-right"></i></span></button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rg-Wrapper">
                                <h3>{{data.title}}</h3>
                            
                                <div class="ad">
                                    <small>{{data.description}}</small>
                                </div>
                                <div class="progress1">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                           
                                <div class="row">
                                    <div class="col-6">
                                        <div class="raised">
                                            <span>RAISED</span></br>
                                            <small class="cause_value">$40000</small>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="goal">
                                            <span>GOAL</span></br>
                                            <small class="cause_value">$5000</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="our-event">
            <div class="container">
               <div class="heading">
                   <h4><span class="underline">OUR EVENT</span></h4>
                    <small><center>if you want to score a goal you have to hit the target</center></small>
               </div>
               <div class="horizontal-card">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="horizontal-card-image">
                              <img src="{{ event[0].images }}" />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="horizontal-card-content">
                              <h2>{{event[0].title}}</h2>
                              <p>{{event[0].description}}</p>
                              <span><i class="fas fa-clock"></i> {{event[0].time}} </br></span>
                              <span class="location"><i class="fas fa-map-marker-alt"></i> {{event[0].location}}</br></span>
                              <span><i class="fas fa-calendar-alt"></i> {{event[0].date}}</br></span>
                              <div class="oval1 float-right">
                                  <i class="{{event[0].logo}}"></i>
                              </div>
                            </div>
                        </div>
                    </div>
               </div>
                
               <div class="horizontal-card">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="horizontal-card-content">
                                <h2>{{event[1].title}}</h2>
                                <p>{{event[1].description}}</p>
                                <span><i class="fas fa-clock"></i> {{event[1].time}} </br></span>
                                <span class="location"><i class="fas fa-map-marker-alt"></i> {{event[1].location}}</br></span>
                                <span><i class="fas fa-calendar-alt"></i> {{event[1].date}}</br></span>
                                <div class="oval1 float-right">
                                    <i class="{{event[0].logo}}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-0">
                            <div class="horizontal-card-image">
                                <img src="{{ event[1].images }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <div class="counter_up">
           <div class="content">
                <div class="row box ml-0">
                   <div class="col-md-3 pr-0 pl-0">
                        <div class="box1">
                            <div class="counter">1788</div>
                            <div class="text">DONORS</div>
                            <div class="icon"><i class="fas fa-donate"></i></div>
                        </div>
                   </div>
                   <div class="col-md-3 pr-0 pl-0">
                        <div class="box2">
                            <div class="counter">1722</div>
                            <div class="text">DOLLAR RAISED</div>
                            <div class="icon"><i class="fas fa-donate"></i></div>
                        </div>
                    </div>
                    <div class="col-md-3 pr-0 pl-0">
                        <div class="box3">
                            <div class="counter">1722</div>
                            <div class="text">DOLLAR RAISED</div>
                            <div class="icon"><i class="fas fa-donate"></i></div>
                        </div>
                    </div>
                   <div class="col-md-3 pr-0 pl-0">
                        <div class="box4">
                            <div class="counter">1722</div>
                            <div class="text">VOLUNTEER</div>
                            <div class="icon"><i class="fas fa-donate"></i></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>

       <div class="our_volunteer">
            <div class="container">
                <div class="heading">
                    <h4 ><span class="underline">OUR VOLUNTEER</span></h4>
                    <small><center>if you want to score a goal you have to hit the target</center></small>
                </div>
                <div class="row">
                    {% set val = 12/(volunteer|length) %}
                    {% for data in volunteer %}
                    <div class="col-xl-{{val}} col-lg-{{val}} col-md-{{val*2}} col-sm-{{val*4}} mb-4">
                        <div class="c-display">
                            <div class="volunteer_description">
                                <div class="content">
                                    <div class="card-images">
                                        <img src="{{ data.images}}" />
                                    </div>
                                    <div class="hidden_on_overlay">
                                        <div class="title">
                                            <h6> {{data.title}}</h6>
                                        </div>
                                        <div class="position">
                                            <span><center>{{data.position}}</center></span>
                                        </div>
                                    </div>
                                    <div class="overlay">
                                        <div class="content-details">
                                            <div class="title">
                                                <h6>{{data.title}}</h6>
                                            </div>
                                            <div class="position">
                                                <span>{{data.position}}</span>
                                            </div>
                                            <div class="paragraph">
                                                <p> With regards to religious aspects, the recipient of charity may</p>
                                            </div>
                                            <div class="social-media1 volunteer">
                                                <ul>
                                                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                                    <li><a href="www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% include "partials/footer.html" %}
    
  {% endblock %}