{% extends "layout.njk" %}

{% block content %}
<div id="blog_page">
  <div class="blog_banner_images">
    {% include "partials/header.html" %}
    <div class="blog_banner">
      <nav aria-label="breadcrumb">
        <h3>OUR BLOG</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">HOME</a></li>
          <li class="breadcrumb-item active" aria-current="page">OUR BLOG</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="blog_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
          <div class="blog_search">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
          <div class="blog_categories">
            <h3 class="bc"><span class="underline">BLOG CATEGORIES</span></h3>
            <ul class="sidebar-list">
              <li>
                <a href="#">
                  <h6>ALL&nbsp;(8)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>AWARNESS&nbsp;(12)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>BLOG&nbsp;(8)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>EDUCATION&nbsp;(3)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>FOOD&nbsp;(2)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>GALLERY&nbsp;(20)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>HEALTH&nbsp;(5)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>LIFESAVING&nbsp;(5)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>OUR PROJECTS&nbsp;(3)</h6>
                </a>
              </li>
              <li>
                <a href="#">
                  <h6>SENIORS&nbsp;(3)</h6>
                </a>
              </li>
            </ul>
          </div>
          <hr>
          <div class="popular_post">
            <h3 class="bc"><span class="underline">POPULAR POST</span></h3>
            {% for data in popularpost %}
              <div class="popular_post_wrapper">
                <div class="post_image">
                  <img src="{{ data.images}}"/>
                </div>
                <div class="post_title">
                  <h6 class="popular_post_heading">{{data.title}}</h6>
                </div>
              </div>
              <div>
                <hr>
              </div>
              {% endfor %}
          </div>
          <div class="popular_image_wrapper">
            <div class="box1">
              <div class="text">BANNER FACEBOOK</div>
              <div class="size">270 x 350</div>
            </div>
          </div>
          <div class="popular_tags">
            <h3 class="bc"><span class="underline">POPULAR TAGS</span></h3>
            <div class="tags_list">
              <button type="button" class="transport">transport</button>
              <button type="button" class="finance">finance</button>
              <button type="button" class="financial">financial</button>
            </div>
            <div class="tags_list">
              <button type="button" class="financial_bussiness">financial Business</button>
              <button type="button" class="wordpress">Wordpress</button>
            </div>
            <div class="tags_list">
              <button type="button" class="stock">Stock</button>
              <button type="button" class="carlos_theme">Carlos Theme</button>
              <button type="button" class="carlos">Carlos</button>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
          <div class="row">
            {% for data in blog %}
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
              <div class="blog_card">
                <div class="blog_images">
                  <img src="{{ data.images}}" />
                </div>
                <div class="blog-content_wrapper">
                  <h3>{{data.title}}</h3>
                  <div class="icon_details">
                    <span><i class="fas fa-clock"></i> {{data.date}}</span> &nbsp; &nbsp;
                    <span><i class="far fa-user-circle"></i> {{data.organizer}}</span>
                  </div>
                  <div class="ad">
                    <small>{{data.Description}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li><a href="#">Next &nbsp;<i class="fas fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.html" %}
</div>
{% endblock %}