.about_us {
  margin: 70px;

  .about_description {
    margin: 0px 10px 15px 0px;
    text-align: -webkit-center;
  }
  .about_title{
    font-weight: bold;
    margin: 15px 0px;
  }
  small {
    color: darkgrey;
  }
}

.who_we_are {
  background-color: #aba7a71a;

  .heading {
    margin-bottom: 40px !important;

    .underline::after{
      left: 0;
      width: 10% !important;
    }
  }
  .who_we_are_wrapper {
    margin-top: 30px;
  }
  .who_we_are_image img {
    height: 350px;
    object-fit: cover;
    width: 100%;
  }
  .content p{
    color: darkgray;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.our_cause{
  margin: 70px;

  .content{
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    position: relative;
    
    .content-overlay {
      background-color: #40484ac9;
      border-radius: 4px;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }
   
    .content-details {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      text-align: center;
    }
    &:hover .content-details {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      text-align: center;
    }
    &:hover .content-overlay{
      opacity: 1;
    }
    .donate_button {
      width: 42%;
    }
  }
  .c-display {
    box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
  }

  .card-images img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .progress-bar {
    background-color: #d6ac10;
    height: 4px;
    margin: 15px 0px 15px 0px;
  }
  .progress1 {
    margin-top: 40px;
  }
  .rg-Wrapper {
    padding: 13px;
  }
  .raised {
    border-right: 1px solid #736a6a94;
  }
  .raised,.goal {
    color: #6b6464;
    font-size: 13px;
    font-weight: 500;
  }
  small.cause_value {
    font-weight: 500;
    color: #151313;
    font-size: 17px;
  }

}
