@import './variable';
@mixin background($imgpath,$position:0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

.blog_banner_images{
  @include background('../images/blog_banner.jpg');
  box-shadow: inset 0 0 0 2000px #171612ad;

  nav.navbar2.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: transparent !important;
  }
  .navbar .navbar-light .navbar-nav .nav-link{
    color: white;
  }
  .blog_banner {
    border-top: 1px solid #ffffff38;
  }
  h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 0px;
  }
  nav {
    padding: 4rem;
  }
  .breadcrumb {
    background-color: #e9ecef03;
    justify-content: center;

    .breadcrumb-item + .breadcrumb-item {
      color: white;
      font-weight: 600;
      padding-left: 0px !important;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      padding: 0px !important;
    }
    li.breadcrumb-item {
      font-size: 12px;
    }
    li.breadcrumb-item a {
      color: $primarycolor;
      font-size: 12px;
      padding: 0px;
    }
  }
}

.blog_wrapper{
  margin: 80px;

  input[type=text] {
    background: white;
    border: 1px solid #80808045;
    border-right: none;
    box-shadow: 0 0.3rem 1rem #0000001a;
    float: left;
    font-size: 13px;
    padding: 10px;
    width: 80%;
  }
  button {
    background: white;
    border: 1px solid #80808036;
    border-left: none;
    color: $primarycolor;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding: 10px;
    width: 20%;
  }
  .blog_categories,.popular_post,.popular_tags{
    h3.bc {
      margin: 0px;
      text-align: left;
    }
    .underline::after {
      left:0;
    }
  }
  .blog_categories {
    margin-top: 70px;
  }
  ul.sidebar-list {
    margin-top: 30px;
    padding-left: 0px;
    
    a {
      padding: 0px;
    }
    h6 {
      color: black;
      font-size: 12px;
      font-weight:bold;
      margin-top:12px;
    }
  }
  .popular_post{
    margin: 30px 0px;
    img {
      height: 60px;
    }
    .popular_post_wrapper {
      margin-top: 40px;
      display: flex;
    }
    h6.popular_post_heading {
      font-size: 12px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
  .popular_image_wrapper{
    .box1{
      align-items: center;
      @include background('../images/popular_image.jpeg');
      background-size: cover;
      box-shadow: inset 0 0 0 2000px #f1b33ce0;
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 270px;
      justify-content: center;
      position: relative;
      
      .text,.size {
        font-size: 17px;
        font-weight: bold;
      }
    }
  } 
  .popular_tags {
    margin-top: 30px;

    .tags_list {
      margin-top: 40px;

      button.finance,button.transport,button.financial,button.financial_bussiness,button.wordpress,button.stock,button.carlos_theme,button.carlos {
        border: 1px solid #a9a9a961;
        color: darkgray;
        margin-bottom: 8px;
        margin-right: 4px;
      }
      button.finance,button.transport,button.financial{
        width: 30%;
      }
      button.financial_bussiness {
        width: 55%;
      }
      button.stock {
        width: 25%;
      }
      button.carlos_theme{
        width: 42%;
      }
      button.carlos{
        width: 25%;
      }
      button.wordpress {
       width: 37%;
      }
    }
  }
  .blog_card {
    box-shadow: 0 0.5rem 1rem #0000001c;
  }
  .blog_images img {
    height: 220px;
    object-fit: cover;
    width: 100%;
  }
  .blog-content_wrapper {
    padding: 20px;

    h3{
      margin: 0px;
    }
    .ad small {
      font-size: 13px;
    }
    .icon_details {
      font-size: 13px;
      margin: 15px;
      text-align: center;

      span {
        color: darkgray;
      }
    }
    i.fas,i.far{
      color: $primarycolor;
    }
  }
  .pagination{
    .page-item:first-child .page-link {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: 0;
    }
    i.fas.fa-angle-right {
      font-size: 11px;
    }
    a{
      color: black;
    }
    a.page-link {
      background: #a9a9a940;
      color: black;
      margin-right: 5px;

      &:hover{
        background:$primarycolor;
        color:white;
      }
    }
  }
}



  
 
  

  
  
  
  
  
  
  
  