@import './variable';

.jumbotron {
    h1 {
        display: inline-flex;
        font-size: 24px;
        font-weight: 700;
    }
    nav {
        float: right;
    }
    .breadcrumb-item + .breadcrumb-item {
       padding-left: 0px !important;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        padding: 0px !important;
    }
      li.breadcrumb-item {
        font-size: 13px;
        font-weight: 700;
    }
    .breadcrumb-item.active {
        color: #6c757dd1;
    }
      li.breadcrumb-item a {
        color: $primarycolor;
        font-size: 13px;
        padding: 0px;
    }
}

.card-items-wrapper{
    margin-top: 70px;
    .c-display {
        box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
    }
    .card-images img {
        width: 100%;
        height: 220px;
    }
    .card-content-wrapper {
        padding: 20px;
        p {
            color: darkgray;
            font-size: 14px;
            margin-top: 20px;
        }
        span {
            color: darkgray;
            line-height: 2;
        }
        i.fas {
            color: $primarycolor;
        }
        .oval1 {
            float: right;
            height: 50px;
            width: 50px;
        }
        i.fas.fa-plus {
            position: absolute;
            color: white;
            font-size: 28px;
            bottom: 24%;
            left: 25%;
        }
    }
}

ul.pagination.event {
    justify-content: center;
}
.pagination{
    .page-item:first-child .page-link {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: 0;
    }
    i.fas.fa-angle-right {
      font-size: 11px;
    }
    a{
      color: black;
    }
    a.page-link {
      background: #a9a9a940;
      color: black;
      margin-right: 5px;

      &:hover{
        background:$primarycolor;
        color:white;
      }
    }
  }
