//responsive 
@media only screen and (max-width: 1200px){
    #blog_page{
        .tags_list button {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 1024px){
    .navbar{
        .navbar-light .navbar-nav .nav-link {
            font-size: 10px;
        }
        li.nav-item {
            padding: 0px;
        }
        a.navbar-brand {
            margin-right: 30px;
        }
        a {
            font-size: 12px;
            padding: 6px;
        }
    }
    .banner {
        .card {
            left: 34%;

            .social-media1 ul {
                left: -30px;
            }
        }
    }

    .Who_we_are{
        .donate_button {
            width: 34%;
        }
    }
    .footer{
        p {
            font-size: 15px;
        }
        .footer_wrapper{
            small {
                font-size: 13px;
            }
            i.fas.fa-arrow-right {
                left: 83%;
                top: 21%;
            }
            .footer-social {
                margin-top: 10px;
                padding: 8px;
            }
        }
    }
   
}
@media only screen and (max-width:991px){
    .our-event{
        .horizontal-card-image img {
            height:337px;
        }
    } 
    .footer{
        .footer_link i.fas {
            margin-right: 8px;
        }
        .footer_link_second li {
            margin: 0px 0px 10px 0px;
        }
        .footer_wrapper{
            i.fas.fa-arrow-right{
                top: 21%;
            }
            .footer-social span.first {
                margin-right: 0px;
                padding: 6px;
            }
            .footer-social .youtube {
                padding-left: 3px;
            }
        }
    }
}

@media only screen and (max-width:768px){
    .navbar{
        .bg-light {
            height: auto;
        }
        img {
            height: 20px;
        }
        .donate_button {
            display: contents;
            top: 2%;
            left: 71%;
            width: 24%;
        }
        .navbar-light .navbar-toggler {
            width: 55px;
        }
    }

    .banner{

        .social-media1 ul {
            left: -25px;
        }
        h5 {
            font-size: 20px;
            margin: 13px;
            
        }
        p.card-text {
            font-size: 13px;
        }
        .Donate_button {
            width: 115%;
        }
    }
    .about_us {
        margin: 20px !important;
        
        .ad {
            margin-bottom: 20px;
        }
    }
    .Who_we_are{
        padding-bottom: 15px;
      
        .content p {
            font-size: 14px;
        }
        .donate_button {
            width: 41%;
        }
    }
    .our_cause{
        margin: 20px !important;

        .rg-Wrapper {
            padding: 8px;
        }
    }
    .our_event{
        margin: 20px !important;

        .horizontal-card-image img {
            height: 100%;
        }
    }
    .counter_up{
        .counter_up .content .box1,
        .counter_up .content .box2,
        .counter_up .content .box3,
        .counter_up .content .box4 {
            height: 300px;
        }
    }
    .our_volunteer{
        margin: 20px !important;
    }
    .footer{
        .footer_wrapper{
            .footer-social span.second {
                padding: 5px;
            }
        }
    }
    #blog_page{
        .blog_wrapper {
            margin: 20px;
        }
    }
}

@media only screen and (max-width:767px){
    .navbar{
        background: #f3f0f342;
        
        .navbar-collapse {
            margin: 14px;
        }
        .navbar-light .navbar-toggler{
            border: none;
        }
    }
    .footer{
        .col-xl-4.col-lg-4.col-md-4.col-sm-12.footer_first_column {
            margin: 10px 0px;
        }
        .col-xl-4.col-lg-4.col-md-4.col-sm-12.footer_column {
            margin: 10px 0px;
        }
        .footer_wrapper {
            i.fas.fa-arrow-right {
                left: 93%;
                top: 24%;
            }
            .footer-social {
                margin-top: 20px;
                padding: 15px;
            }
            .footer-social span.first {
                margin-right: 100px;
            }
            .footer-social .youtube {
                padding-left: 12px;
            }
        }
    }
}

@media only screen and (max-width:530px){
    .banner{
        .card {
            left: 50%;
        }
    }
}

@media only screen and (max-width:430px){
    .login-menu{
        .social-media {
            padding: 0px 0px;
        }
        .login-ryt-wrap {
            float: none;
        }
        .login-menu-wrap.clearfix {
            text-align: center;
        }
    }
   .banner{
        .social-media1 ul {
            left: -40px;
        }
        h5 {
            margin: 8px;
            font-size: 15px;
        }
        .banner .item img {
            height: 400px;
        }
    }
    .who_we_are{
        .who_we_are_wrapper {
            padding: 15px;
        }
    }
    .our_cause{
        .heading {
            margin: 0px 0px 25px 0px;
        }
    }
    .footer{
        .footer_wrapper {
            i.fas.fa-arrow-right {
                left: 89%;
                top:21%;
            }
            .footer-social span.first {
                margin-right: 80px;
            }
            .footer-social .youtube {
                padding-left: 15px;
            }
        }
    }
}
@media only screen and (max-width:400px){
    .banner{
        .item img {
            height: 440px;
        }
        .card {
            width: 14rem !important;
        }
    }
}
@media only screen and (max-width:380px){
    .banner{
       .card {
           max-height: 300px;

            .card-title {
                font-weight: 800;
                letter-spacing: 0px;
                margin-bottom: 2%;
            }
            p.card-text {
                font-size: 12px;
            }
            small {
                font-size: 12px;
            }
        } 
        .item{
            img{
                height: 350px;
            }
        }
        .social-media1 ul li {
            padding: 5px;
        }
        .owl-carousel .owl-nav button.owl-prev{
            top: 150px;
            right: 1%;
        }
        .owl-carousel .owl-nav button.owl-next{
            top: 177px;
            right: 1%;
        }
    }
    .our_cause {
        margin: 10px !important;
    }
    .our_volunteer {
        margin: 10px !important;
    }
    #blog_page{
        .blog_wrapper {
            margin: 0;
            padding-top: 20px;
        }
    }
}

@media only screen and (max-width:320px){
    .banner{
      
        p.card-text {
            font-size: 11px;
            margin-bottom: 2px;
        }
        h5 {
           font-size: 14px;
        }
        .social-media1 ul {
            left: -40px;
        }
        .social-media1 ul li {
            padding: 0px;
        }
        span {
            font-size: 13px;
        }
    }
    .who_we_are{
        .donate_button {
            width: 53%;
        }
    }
    .footer{
        .footer_wrapper {
            i.fas.fa-arrow-right {
                left: 85%;
                top: 21%;
            }
            .footer-social span.first {
                margin-right: 55px;
            }
            .footer-social .youtube {
                padding-left: 14px;
            }
        }
    }
}


