@import "./variable";
.our_volunteer{
    margin: 70px;
  
    small {
        color: darkgrey;
    }
    .c-display {
        box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
    }
    .social-media1.volunteer ul {
        display: inline-flex;
        position: absolute;
        top: 82%;
        left: -16%;
    }
    .social-media1.volunteer ul li{
        padding: 0px;
    }
    .card-images{
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    h6 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0px;
        text-align: center;
    }
    .title {
        margin: 2px;
    }
    .content{
        margin:auto;
        overflow:hidden;
        position: relative;
        
        span {
            color: darkgrey;
        }
        .overlay {
            background-color:#40484ac7;
            border-radius: 4px;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        .content-details {
            padding: 10px;
            color: white;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            opacity: 1;
            h6 {
                text-align: left;
            }

            .title{
                text-align:left;
            }
        }
        .paragraph {
            position: absolute;
            bottom: 16%;
            font-size: 13px;
        }
        &:hover .content-details {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            opacity: 1;
            .title{
                text-align: start;
            }
        }
        &:hover .overlay{
            opacity: 1;
        }
        .hidden_on_overlay {
            padding: 11px 0px;
            position: absolute;
            bottom: 0;
            background: white;
            width: 100%;

            &:hover .hidden_on_overlay{
                display:none;
            }
        }
    }
}