// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "./navbar";
@import "./baner";
@import "./about";
@import "./variable";
@import "./event";
@import "./footer";
@import "./responsive";
@import "./volunteer";
@import "./blog";
@import "./event-page";

.body{
  font-family:  'Montserrat', sans-serif;
}
.heading{
  margin-bottom: 50px;
}
a {
  color: #ffffffd6; 
  font-size: 13px;
  font-weight: 600;
  padding: 9px;
  text-decoration: none;
}
.oval {
  i.fas.fa-arrow-right {
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    margin-left: 3px;
    padding: 2px;
  }
}
.oval1{
  height: 65px;
  width: 65px;
  background-color: $primarycolor;
  border-radius: 50%;
  position: relative;

  i.fas {
    position: absolute;
    font-size: 34px;
    bottom: 30%;
    left: 23%;
    color: #ffffffe6;
  }
}
ul.sidebar-list li {
  display: inline !important;
}
ul{
  list-style-type: none;
  li{
    display: inline-flex;
  }
}
.donate_button {
  a {
    padding:4px;

    &:hover{
      color: white;
    }
  }
  button.btn{
    background: $primarycolor;
    border: #fff;
    border-radius: 65rem;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    min-width: 105px;
  }
}
h2 {
  font-size: 17px;
  font-weight: bold;
}
h3 {
  font-size: 15px;
  font-weight: 700;
  margin: 15px;
  text-align: center;
}
h4 {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  &:hover{
    color: $primarycolor;
  }
}
h5 {
  font-size: 25px;
  font-weight: 700;
}
h6 {
  font-size: 14px;
}
.ad {
  text-align: center;
  padding: 0px;
}
small {
  color: darkgray;
  font-size: 14px;
}
img {
  height: 70px;
  width: 100px;
  object-fit: cover;
}
.underline{
  position: relative;
}
.underline::after{
  content: '';
  position: absolute;
  width: 26%;
  height: 2px;
  display: block;
  left: 53px;
  margin-top: 13px;
  background: $primarycolor;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
.underline:hover::after{
  width:100%; 
  left: 0;
  transition: width .3s;
}




