<footer class="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                {% for data in footer %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer_first_column">
                    <div class="logo">
                        <a class="navbar-brand" href="#"><img src={{data.logo}}></a>
                    </div>
                    <p>{{data.paragraph}}</p>
                    <div class="footer_link">
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i> <span> &nbsp;{{data.location}}</span></li>
                            <li><i class="fas fa-phone-alt"></i><span>&nbsp;{{data.phoneNumber}}</span></li>
                            <li><i class="fas fa-envelope-square"></i><span>&nbsp;{{data.email}}</span></li>
                            <li><i class="fas fa-box"></i><span>&nbsp;{{data.website}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer_column">
                    <div class="heading">
                        <h6>LINKS</h6>
                    </div>
                    <div class="footer_link_second">
                        <ul>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">About Us</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Overview</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Teams</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Overview</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Teams</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Teams</a></li>
                        </ul>
                        <ul>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Our team</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Innovation</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Teams</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Innovation</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Teams</a></li>
                            <li><i class="fas fa-arrow-right"></i>&nbsp;<a href="#">Teams</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 footer_column">
                    <div class="recentPost">
                        <h6>RECENT POST</h6>
                    </div>
                    <div class="footer_wrapper">
                        <input type="email" id="email" placeholder="Enter your email">
                        <i class="fas fa-arrow-right"></i>
                        <br />
                        <small>Core value are the fundamental beliefs</small>
                        <div class="footer-social">
                            <div class="row first-row">
                                <div class="oval2"><i class="fab fa-facebook-f"></i></div><span class="first">Facebook</span>
                                <div class="oval2"><i class="fab fa-twitter"></i></div><span class="second">Twitter</span>
                            </div>
                            <div class="row second-row">
                                <div class="oval2"><i class="fab fa-google"></i></div><span class="first">Google</span>
                                <div class="youtube">
                                    <div class="oval2"><i class="fab fa-youtube"></i></div><span class="second">You Tube</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="footer_copyright">
            <div class="copyright">
                <span>@copyright15 Themesun.inc.All right reserve</span>
            </div>
        </div>
    </div>
</footer>
