<!-- Header -->
    <header class="header">
        <!------navbar------->
        
        <div class="login-menu">
            <div class="container">
            <div class="login-menu-wrap clearfix">
                <select name="language" id="language">
                <option value="Nepali">Choose Language</option>
                <option value="Nepali">Nepali</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
                </select>
                <div class="login-ryt-wrap">
                <div class="login-section">
                </div>
                <div class="social-media">
                    <span class="call">
                    <i class="fas fa-phone-square-alt"></i> &nbsp;+96745708924757
                    </span>
                    <span class="envelope">
                    <i class="fas fa-envelope-square"></i>&nbsp; deepcla@gmail.com
                    </span>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="navbar">
            <div class="container">
            <nav class="navbar2 navbar  navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="assets/images/clogo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">PAGES</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="event-page.html">EVENTS</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="ourblog.html">BLOG</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">SHOP</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-search"></i>
                    </a>
                    </li>
                </ul>
                <div class="donate_button">
                    <button class="btn" type="submit">DONATE <span class="oval"><i class="fas fa-arrow-right"></i></span></button>
                </div>
                </div>
            
            </nav>
            </div>
        </div>
        
    </header>
<!-- End Header -->